# luckydonald-utils
-e git://github.com/luckydonald/python-utils.git@8b6586498b6fa77112d9559a7cf3e294466b5a71#egg=luckydonald-utils

# flask
flask==1.1.2

# pytgbot
pytgbot==4.9.1

# teleflask
-e git://github.com/luckydonald/teleflask.git@cb541317bd9794178484590a83f236744209c16d#egg=teleflask_cb5413

